<header class="site-header px-4 pt-4 fixed top-0 w-full z-10">
    <div class="grid grid-cols-2 gap-6">
        <div class="flex items-center relative nav-logo">
            <a href="{{ site.link }}" data-main-logo class="logo logo-long h-7 overflow-hidden text-{{ header_color|default('parsley') }}">
                {% include 'img/za-logo.twig' %}
            </a>
            <a href="{{ site.link }}" data-short-logo class="logo logo-short absolute h-7 opacity-0 mr-8 text-{{ header_color|default('parsley') }}">
                {% include 'img/za-logo-short.twig' %}
            </a>
        </div>
        {% if page_title|default %}
            <div>
                <p data-post-type class="text-30 inline-block transition-opacity duration-300 text-{{ text_color|default('parsley') }}">{{ page_title }}</p>
            </div>
        {% endif %}
    </div>
    {% include 'includes/menu.twig' %}
    <div class="menu-trigger-wrapper">
        <div class="flex items-center justify-center h-full">
            <div class="menu-indicator bg-{{ header_color|default('parsley') }}"></div>
        </div>
    </div>
</header>