{% extends "index.twig" %}

{% block content %}

    <main data-barba="container" barba-namespace="essays" class="{{ body_class }} bg-almond">

        {% block header %}
            {% include 'includes/components/header.twig' with { page_title: 'Essays' } %}
        {% endblock %}

        <div class="content-wrapper">
            <div class="page-content">
                <div class="col-span">
                    <div class="image-grid">
                        <div class="col-span-4 col-start-2">
                            <div class="image-container ml-auto">
                                {% for item in posts %}
                                    <img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.src|resize(1400) }}" data-featured-image="{{ loop.index }}" class="ml-auto">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span">
                    <h1 class="text-parsely text-30 hidden">Essays</h1>
                    {% for item in posts %}
                        <a href="{{ item.link }}" class="hover:text-flamingo" data-featured-index="{{ loop.index }}">
                            <table class="table-auto mb-6 post-table">
                                <tr>
                                    <td class="text-flamingo pr-6">Title</td>
                                    <td>{{ item.title }}</td>
                                </tr>
                                {% if item.terms( 'publication' ) %}
                                    <tr>
                                        <td class="text-flamingo pr-6">Publication</td>
                                        <td>{{ item.terms( 'publication' )|join(', ') }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="text-flamingo pr-6">Year</td>
                                    <td>{{ item.terms( 'year' )|join(', ') }}</td>
                                </tr>
                            </table>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div><!-- /content-wrapper -->

    </main>
  
{% endblock %}