{% extends "index.twig" %}

{% block content %}

    <main data-barba="container" role="main" barba-namespace="books" data-body-class="{{ body_class }} bg-almond">

        {% block header %}
            {% include 'includes/components/header.twig' with { page_title: 'Books', header_color: 'light' } %}
        {% endblock %}

        <div class="content-wrapper">
            <div class="page-content">
                <div class="col-span">
                    <div class="image-grid">
                        <div class="col-span-4 col-start-2">
                            <div class="image-container ml-auto">
                                {% for item in posts %}
                                    <img src="{{ item.thumbnail.src }}" alt="{{ item.thumbnail.src }}" data-featured-image="{{ loop.index }}" class="ml-auto" loading="lazy">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span">
                    <h1 class="text-parsely text-30 hidden">Books</h1>
                    {% for item in posts %}
                        <table class="table-auto mb-6" data-featured-index="{{ loop.index }}">
                            <tr>
                                <td class="text-flamingo pr-6 align-top table-left-col">Title</td>
                                <td>{{ item.title }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Collaborators</td>
                                <td>{{ item.collaborators }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Publisher</td>
                                <td>{{ item.terms( 'publication' )|join(', ') }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Year</td>
                                <td>{{ item.year }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top"></td>
                                <td class="pt-5"><a href="{{ item.purchase_link }}" class="hover:text-flamingo transition ease-in-out duration-300" target="_blank">Purchase ↗</a></td>
                            </tr>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div><!-- /content-wrapper -->

    </main>
  
{% endblock %}