{% extends "index.twig" %}

{% block content %}

    {% block header %}
        {% include 'includes/components/header.twig' with { page_title: 'Strategy', header_color: 'light' } %}
    {% endblock %}

    <main data-barba="container" role="main" data-barba-namespace="Strategy" data-body-class="{{ body_class }} bg-almond">

        <div class="content-wrapper relative">
            <div class="page-content">
                <div class="col-span">
                    <div class="image-grid">
                        <div class="col-span-4 col-start-2">
                            <div class="image-container ml-auto">
                                {% for item in posts %}
                                    <img src="{{ item.thumbnail.src|resize(1400) }}" alt="{{ item.thumbnail.alt ? item.thumbnail.alt : item.client }}" data-featured-image="{{ loop.index }}" class="ml-auto" loading="lazy">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span">
                    <h1 class="text-parsely text-30 hidden">Strategy</h1>
                    {% for item in posts %}
                        <table class="table-auto mb-6" data-featured-index="{{ loop.index }}">
                            <tr>
                                <td class="text-flamingo pr-6 align-top table-left-col">Client</td>
                                <td>{{ item.client }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Field</td>
                                <td>{{ item.terms( 'field' )|join(', ') }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Challenge</td>
                                <td>{{ item.challenge }}</td>
                            </tr>
                            <tr>
                                <td class="text-flamingo pr-6 align-top">Year</td>
                                <td>{{ item.year }}</td>
                            </tr>
                            {% if item.affiliation.title %}
                                <tr>
                                    <td class="text-flamingo pr-6 align-top">Affliation</td>
                                    {% if item.affiliation.url %}
                                        <td><a href="{{ item.affiliation.url }}" class="hover:text-flamingo" target="_blank">{{ item.affiliation.title }} ↗</a></td>
                                    {% else %}
                                        <td>{{ item.affiliation.title }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div><!-- /content-wrapper -->

        <footer id="footer" class="site-footer py-4 hidden lg:block lg:fixed bottom-0 w-full bg-almond">
            {% include 'footer.twig' %}
        </footer>

    </main>
  
{% endblock %}