{% extends "index.twig" %}

{% block content %}
    <main data-barba="container" barba-namespace="home" class="{{ body_class }} bg-almond">

        {% block header %}
            {% include 'includes/components/header.twig' with { item: '' } %}
        {% endblock %}

        <div class="home-wrapper">
            <div class="container">
                <div class="grid grid-cols-12">
                    <div class="col-span-5">
                        <div class="justify-end flex">
                            <div class="relative">
                                <img src="{{ TimberImage(post.photo).src }}" alt="{{ TimberImage(post.photo).alt }}">
                                <div class="w-12 portrait-stamp">
                                    {% include 'img/za-seal.svg' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-start-7 col-span-6">
                        <div class="passport-information mb-4">
                            <table class="table-auto">
                                <tr>
                                    <td class="text-flamingo pr-6">Name</td>
                                    <td class="passport-detail pl-4">{{ post.name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Age</td>
                                    <td class="passport-detail pl-4">{{ post.age }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Occupation</td>
                                    <td class="passport-detail pl-4">{{ post.occupation }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Birthplace</td>
                                    <td class="passport-detail pl-4">{{ post.birthplace }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Residence</td>
                                    <td class="passport-detail pl-4">{{ post.residence }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="biography">
                            {{ post.bio }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}