{% extends "index.twig" %}

{% block content %}
    <main data-barba="container" barba-namespace="home" class="{{ body_class }} bg-almond">

        {% block header %}
            {% include 'includes/components/header.twig' with { item: '', header_color: 'light' } %}
        {% endblock %}

        <div class="home-wrapper">
            <div class="homepage-container">
                <div class="homepage-grid">
                    <div class="col-span-1 lg:col-span-5">
                        <div class="justify-end lg:flex">
                            <div class="relative">
                                <img src="{{ TimberImage(post.photo).src }}" alt="{{ TimberImage(post.photo).alt }}" class="passport-photo">
                                <div class="portrait-stamp opacity-0 hidden lg:block">
                                    <div class="w-12">
                                        {% include 'img/seal_pointer.svg' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 lg:col-start-7 lg:col-span-6">
                        <div class="passport-information mb-4">
                            <table class="table-auto">
                                <tr>
                                    <td class="text-flamingo pr-6">Occupation</td>
                                    <td class="passport-detail pl-4">{{ post.occupation }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Birthplace</td>
                                    <td class="passport-detail pl-4">{{ post.birthplace }}</td>
                                </tr>
                                <tr>
                                    <td class="text-flamingo pr-6">Residence</td>
                                    <td class="passport-detail pl-4">{{ post.residence }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="biography wysiwyg-wrapper">
                            {{ post.get_field('bio') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}