{% extends "index.twig" %}

{% block content %}
    <main data-barba="container" barba-namespace="single-essay" class="{{ body_class }}">

        {% block header %}
            {% include 'includes/components/header.twig' with { page_title: 'Essay', header_color: 'almond', text_color: 'flamingo' } %}
        {% endblock %}

        <div class="content-wrapper" data-scroll-container>
            <div class="px-3 lg:grid grid-cols-2 gap-6">
                <div class="hidden lg:block lg:col-span">
                    <div class="pt-10 pb-12"></div>
                    <div class="grid grid-cols-6 h-full">
                        <div class="col-span-4 relative">
                            <div class="lg:sticky essay-left-rail pl-17">
                                <table data-publication-table-target class="table-auto mb-12 mt-auto opacity-0">
                                    <tr>
                                        <td class="text-flamingo pr-6">Publication</td>
                                        <td>{{ post.terms( 'publication' )|join(', ') }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-flamingo pr-6">Year</td>
                                        <td>{{ post.terms( 'year' )|join(', ') }}</td>
                                    </tr>
                                </table>
                                <div class="essay-images relative ml-auto">
                                    {% for image in post.essay_images %}
                                        <img src="{{ TimberImage(image).src }}" class="absolute top-0 left-0 opacity-0 {{ loop.first ? 'active-img' }}" alt="{{ TimberImage(image).alt }}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span relative">
                    <div class="pt-10 pb-12"></div>
                    <div data-title-wrapper class="mb-12 lg:sticky">
                        <h1 data-title class="text-30 relative">{{ post.title }}</h1>
                    </div>
                    <table class="table-auto mb-12" data-publication-table>
                        <tr>
                            <td class="text-flamingo pr-6">Publication</td>
                            <td>{{ post.terms( 'publication' )|join(', ') }}</td>
                        </tr>
                        <tr>
                            <td class="text-flamingo pr-6">Year</td>
                            <td>{{ post.terms( 'year' )|join(', ') }}</td>
                        </tr>
                    </table>
                    <div class="essay-content">
                        <div data-scroll-section>
                            <div class="essay-content-inner">
                                {{ post.content }}
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div><!-- /content-wrapper -->

    </main>
    
{% endblock %}

{% block footer %}
{% endblock %}