<div class="featured-card pt-6 relative mb-40">
    <div class="{{ media_item.bg_color }} absolute r-0 top-0 h-full w-full"></div>
    {% if item.overlay_image|default %}
        <div class="container relative">
            <div class="featured-card-overlay absolute">
                <div class="image-450">
                    <img src="{{ TimberImage(item.overlay_image).src }}" alt="{{ TimberImage(item.overlay_image).alt }}">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container p-0 relative" style="top: 80px;">
        <div class="relative">
            <div class="{{ item.cards|length > 1 ? 'featured-card-carousel' }}">
                {% for card in item.cards %}
                    <div class="container py-2">
                    {% include 'views/includes/components/feature-card.twig' %}
                    </div>
                {% endfor %}
            </div>
            {% if item.cards|length > 1 %}
            <div class="absolute right-0 top-0">
                <ol class="flex p-6">
                    {% for card in item.cards %}
                    <li class="h-3 w-3 ml-3 cursor-pointer rounded-full {{ loop.index == 1 ? 'bg-orange' : 'bg-light-gray' }}" aria-label="Page dot {{loop.index}}" aria-current="step"></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>