<div class="feature-section mt-28 lg:mt-0 {{ media_item.bg_color }}">
    {% if item.overlay_image_top_left|default %}
        <div class="container relative">
            <div class="carousel-overlay-top absolute">
                <div class="image-450">
                    <img src="{{ TimberImage(item.overlay_image_top_left).src }}" alt="{{ TimberImage(item.overlay_image_top_left).alt }}">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="overflow-hidden relative z-10" style="top: -60px;">
        <div class="container">
            <div class="scroll-slide-in relative">
                <div class="card-carousel relative">
                    {% for card in item.cards %}
                        <div class="flex slide mr-4">
                            {% include 'includes/components/image-card.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'includes/components/carousel-navigation.twig' with { 'cards' : item.cards } %}
        </div>
    </div>
    {% if item.overlay_image_bottom_right|default %}
        <div class="container relative">
            <div class="carousel-overlay-bottom absolute">
                <div class="image-450">
                    <img src="{{ TimberImage(item.overlay_image_bottom_right).src }}" alt="{{ TimberImage(item.overlay_image_bottom_right).alt }}">
                </div>
            </div>
        </div>
    {% endif %}
</div>