<div class="stack-comparison relative mb-8 md:mb-0">
    
    <div class="container relative z-10 mb-16 md:mb-0 flex justify-center md:block">
        <div class="shadow mb-4 {{ media_item.bg_color }} inline-flex items-center pl-6 py-1 pr-1 slide-nav relative" style="border-radius: 100px;">
            <p class="text-charcoal mr-5">Key Features</p>
            <div class="slide-nav-inner relative" data-start="0">
                {% for product in item.products %}
                    <button class="switch-label nav-link card-stack-link" data-stack-item="{{ loop.index0 }}" aria-label="Show {{ product.product_name }} key features" data-wrapper="comparison-stack-{{ loop.parent.loop.index}}">{{ product.product_name }}</button>
                {% endfor %}
                <div class="nav-bubble bg-orange absolute"></div>
            </div>
        </div>
    </div>

    {% if item.overlay_image_top_left|default %}
    <div class="container relative">
        <div class="accordion-top-overlay absolute">
            <div class="image-450">
                <img src="{{ TimberImage(item.overlay_image_top_left).src }}" alt="{{ TimberImage(item.overlay_image_top_left).alt }}">
            </div>
        </div>
    </div>
    {% endif %}

    <div class="{{ media_item.bg_color }} pb-8 relative comparison-stack-{{ loop.index }}">
        <div class="container">
            {% for product in item.products %}
                <div class="card-stack unfanned {{ loop.index == loop.first ? 'active-stack' }}">
                    <div class="grid grid-cols-12">
                        <div class="hidden md:block col-span-4 pt-15">
                            {% for card in product.cards %}
                                <div class="collapse-wrapper collapse-{{ product.product_name }}-{{ loop.index }} {{ loop.index == 1 ? 'show' }}">
                                    <div class="cursor-pointer no-focus accordion text-36 font-benton-comp mb-3 text-left" data-toggle="card-collapse" data-target=".collapse-{{ loop.index }}" data-text="Collapse" data-card-toggle="{{ loop.index }}">
                                        <div class="indicator-mark-wrapper inline-block">
                                            <div class="indicator-mark"></div>
                                        </div>
                                        <div class="inline">{{ card.post_title }}</div>
                                    </div>
                                    <div class="block collapse first">
                                        <div class="block__content mb-6">
                                            {{ card.card_description }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-span-12 md:col-start-6 lg:col-start-6 lg:col-span-7">
                            <div class="content color-1 relative" style="top: -80px;">
                                <ul class="card-stack-container stack relative">
                                    {% for card in product.cards %}
                                        {% set card = TimberPost(card) %}
                                        <li>
                                            <div class="stack__item md:absolute card slide-{{ loop.index }} bg-white shadow rounded-lg max-w-6/7" data-card-toggle-item="{{ loop.index }}" {% include 'views/partial/card-data-attributes.twig' %}>
                                                <div class="stack__item-contents" data-title="{{ card.title }}" data-description="{{ card.description }}">
                                                    <div class="stack-card-inner flex h-full justify-end items-end">
                                                        <img class="lazy-load" src="{{ TimberImage(card.thumbnail).src }}" alt="{{ TimberImage(card.thumbnail).alt }}">
                                                    </div>
                                                    <div class="stack-btn absolute bottom-0 right-0 p-6">
                                                        {% include 'views/partial/card-button.twig' %}
                                                    </div>
                                                </div>
                                                {% include 'views/partial/card-code-block.twig' %}
                                            </div>
                                            <div class="md:hidden accordion-card-text mb-8">
                                                <p class="text-28 font-benton-comp mt-4 mb-1">{{ card.title }}</p>
                                                <p class="text-18">{{ card.card_description }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            {% if item.overlay_image_bottom_right|default %}
                <div class="container relative">
                    <div class="accordion-bottom-overlay absolute">
                        <div class="image-450">
                            <img src="{{ TimberImage(item.overlay_image_bottom_right).src }}" alt="{{ TimberImage(item.overlay_image_bottom_right).alt }}">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>