<div class="accordion-module relative">
    <div class="{{ media_item.bg_color }} pb-8 relative">
        <div class="container relative">
            {% if item.overlay_image_top_left|default %}
                <div class="accordion-top-overlay absolute">
                    <div class="image-450">
                        <img src="{{ TimberImage(item.overlay_image_top_left).src }}" alt="{{ TimberImage(item.overlay_image_top_left).alt }}">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container relative">
            <div class="card-stack unfanned active-stack">
                <div class="grid grid-cols-12">
                    <div class="hidden md:block col-span-4 pt-15">
                        {% for item in item.items %}
                            <div class="collapse-wrapper collapse-{{ loop.index }} {{ loop.index == 1 ? 'show' }}">
                                <div class="cursor-pointer no-focus accordion text-28 lg:text-36 font-benton-comp mb-2 lg:mb-3 text-left" data-toggle="card-collapse" data-target=".collapse-{{ loop.index }}" data-text="Collapse" data-card-toggle="{{ loop.index }}">
                                    <div class="indicator-mark-wrapper inline-block">
                                        <div class="indicator-mark"></div>
                                    </div>
                                    <div class="inline">{{ item.title }}</div>
                                </div>
                                <div class="block collapse first">
                                    <div class="block__content mb-6">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-span-12 md:col-start-6 lg:col-start-6 lg:col-span-7">
                        <div class="content color-1 relative" style="top: -80px;">
                            <ul class="card-stack-container stack relative">
                                {% for item in item.items %}
                                    {% set card = TimberPost(item.card) %}
                                    <li>
                                        <div class="stack__item card md:absolute slide-{{ loop.index }} bg-white shadow rounded-lg" data-card-toggle-item="{{ loop.index }}" {% include 'views/partial/card-data-attributes.twig' %}>
                                            <div class="stack__item-contents" data-title="{{ card.title }}" data-description="{{ card.description }}">
                                                <div class="stack-card-inner flex h-full justify-end items-end">
                                                    <img class="lazy-load" src="{{ TimberImage(card.thumbnail).src }}" alt="{{ TimberImage(card.thumbnail).alt }}">
                                                </div>
                                                <div class="stack-btn absolute bottom-0 right-0 p-6">
                                                    {% include 'views/partial/card-button.twig' %}
                                                </div>
                                            </div>
                                            {% include 'views/partial/card-code-block.twig' %}
                                        </div>
                                        <div class="md:hidden accordion-card-text mb-8">
                                            <p class="text-28 font-benton-comp mt-4 mb-1">{{ card.title }}</p>
                                            <p class="text-18">{{ card.card_description }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% if item.overlay_image_bottom_right|default %}
            <div class="accordion-bottom-overlay absolute">
                <div class="image-450">
                    <img src="{{ TimberImage(item.overlay_image_bottom_right).src }}" alt="{{ TimberImage(item.overlay_image_bottom_right).alt }}">
                </div>
            </div>
            {% endif %}
        </div>
    </div>