<div class="image-full overflow-hidden">
	<div class="pt-9/16 relative">
		<img src="{{ TimberImage(media_item.image).src|resize('100vw') }}" class="lazy-load absolute top-0 left-0 w-full h-full" alt="{{ TimberImage(media_item.image).alt }}">
	</div>
	<div class="container relative">
		{% if media_item.overlay_left|default %}
			<div class="full-image-left-overlay absolute">
				<div class="image-360">
					<img src="{{ TimberImage(media_item.overlay_left).src }}" alt="{{ TimberImage(media_item.overlay_left).alt }}">
				</div>
			</div>
		{% endif %}		
		{% if media_item.overlay_right|default %}
			<div class="full-image-right-overlay absolute">
				<div class="image-360">
					<img src="{{ TimberImage(media_item.overlay_right).src }}" alt="{{ TimberImage(media_item.overlay_right).alt }}">
				</div>
			</div>
		{% endif %}		
	</div>
</div>