{% set bottom_padding = '' %}
{% if media_item.feature_name == 'staggered_cards' %}
	{% set bottom_padding = 'pb-10' %}
{% elseif media_item.feature_name == 'accordion_cards' %}
	{% set bottom_padding = 'pb-20' %}
{% endif %}
<div class="container {{ bottom_padding }}" id="{{ media_item.navigation_title|lower|replace({' ': '', '.':''}) }}">
	<div class="story-section pt-12 lg:pt-20">
		<div class="grid grid-cols-12">
			<div class="col-span-12 lg:col-span-11">
				<h2 class="font-amplify-light text-orange text-18 md:text-22 lg:text-30 mb-4">{{ media_item.eyebrow }}</h2>
				<p class="text-36 md:text-60 lg:text-80 xl:text-100 font-benton-comp mb-4 lg:mb-15">{{ media_item.title }}</p>
			</div>
		</div>
		<div class="grid md:grid-cols-12 items-end mb-16 lg:mb-30">
			<div class="font-amplify-light text-18 lg:text-30 flex-end col-span-12 md:col-start-5 md:col-span-7 lg:col-start-6 lg:col-span-6">
				<p class="col-end-6">{{ media_item.description }}</p>
			</div>
		</div>
	</div>
</div>

{% for item in media_item.feature_type %}
	{% if item.acf_fc_layout == 'accordion_cards' %}
		{% include 'includes/modules/card-accordion.twig'%}
	{% elseif item.acf_fc_layout == 'card_carousel' %}
		{% include 'includes/modules/card-carousel.twig'%}
	{% elseif item.acf_fc_layout == 'featured_card' %}
		{% include 'includes/modules/card-featured.twig'%}
	{% elseif item.acf_fc_layout == 'staggered_cards' %}
		{% include 'includes/modules/card-staggered.twig'%}
	{% elseif item.acf_fc_layout == 'feature_and_carousel' %}
		{% include 'includes/modules/card-feature-and-carousel.twig'%}
	{% elseif item.acf_fc_layout == 'product_comparison_accordion_cards' %}
		{% include 'includes/modules/card-accordion-comparison.twig'%}
	{% endif %}
{% endfor %}