<div class="site-menu">
    <div class="relative h-full">
        <div class="w-full h-full flex justify-center items-center">
            <ul class="menu-items text-center text-30 lg:text-40">
                <li class="menu-item"><a href="{{ site.link }}">Home</a></li>
                {% for item in menu.primary.items %}
                    <li class="menu-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-social left-0 bottom-0 absolute">
            <ul class="text-12">
                {% for item in menu.social.items %}
                    <li><a href="{{ item.url }}" class="text-flamingo hover:text-almond transition ease-in-out duration-300" target="_blank">{{ item.title }} ↗</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-social right-0 bottom-0 absolute">
            <ul class="text-12">
                <li class=""><a href="http://brittonwalker.site/" class="text-flamingo hover:text-almond transition ease-in-out duration-300" target="_blank">Developed by Britton Walker ↗</a></li>
            </ul>
        </div>
    </div>
</div>