<div class="site-menu bg-black w-screen h-screen fixed z-30 left-0 top-0 p-4">
    <div class="relative h-full">
        <div class="w-full h-full flex justify-center items-center">
            <ul class="menu-items text-center text-30 lg:text-40">
                <li class="mb-4 text-almond hover:text-flamingo transition ease-in-out duration-300"><a href="{{ site.link }}">Home</a></li>
                {% for item in menu.primary.items %}
                    <li class="mb-4 text-almond hover:text-flamingo transition ease-in-out duration-300"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
                {# <li class="mb-4"><a href="">Shop</a></li>
                <li class="mb-4"><a href="">Cart</a></li> #}
            </ul>
        </div>
        <div class="menu-social left-0 bottom-0 absolute">
            <ul class="text-12">
                {% for item in menu.social.items %}
                    <li><a href="{{ item.url }}" class="text-flamingo hover:text-almond transition ease-in-out duration-300" target="_blank">{{ item.title }} ↗</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>